DB_HOST=localhost
DB_PORT=5432
DB_NAME=stockmanagementdb
DB_USER=postgres
DB_PASSWORD=admin123
BACKUP_DIR=C:\\Users\\nutyo\\Documents\\GitHub\\03_SR_Mini_Project\\src\\main\\Backup\\
PGDUMP_PATH=C:\\Program Files\\PostgreSQL\\18\\bin\\pg_dump.exe
PSQL_PATH=C:\\Program Files\\PostgreSQL\\18\\bin\\psql.exe